#container {
	height: 100%;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    width: 100%;
}

.hrline {
    border: 1px outset #A8A8A8;
}
#mainnav {
    background: none repeat scroll 0 0 #EEEEEE;
    margin: 0 auto;
    width: 100%;
}
#nav {
	width: 100%;
	height: 50px;
	/*background-color: #FFF;*/

	float: left;
}
#navbar {
	   display: block;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    right: 0;
    top: 0;
    width: 965px;
}
#navbar li {
	float: left;
    list-style: none outside none;
    padding: 15px 30px;
}
#navbar li a {
	color: #000000 !important;
    display: block;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
#navbar li a:hover {
	color: #000;
}
#navbar li ul {
	display: none;
	font-size: 0.8em;
}

#navbar li.active {
    background: none repeat scroll 1px 55px #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 5px #000000 inset;
    margin-top: 3px;
    padding: 12px 30px;
}

#navbar li:hover li, #navbar li.hover li {
	display: inline;
}

#navbar li:hover {
    background: none repeat scroll 1px 55px #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 5px #000000 inset;
    margin-top: 3px;
    padding: 12px 30px;
}
#navbar li:hover li.last-child a, #navbar li.hover li.last-child a {
	border-right: none;
}
#navbar li li a:hover {
	color: #db6262;
}
#navbar li.current_item ul {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 0.8em;
	height: 25px;
}
#navbar li.current_item li a {
	color: #FFF;
	border-right: #000 1px solid;
	height:20px;
	padding-right: 30px;
	padding-top: 6px;
}
/*-- CSS FOR SUB MENU --*/
#subnav {
    background: none repeat scroll 0 0 #DDDDDD;
    display: block;
    height: 45px;
    margin: 0;
    padding: 0;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
}
#subnavbar {
    display: block;
    height: 43px;
    left: 25px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    right: 0;
    top: 0;
    width: 965px;
}
#subnav li {
    float: left;
    list-style: none outside none;
    padding: 12px 20px;
}
#subnavbar li:hover {
    background: none repeat scroll 0 0 #969696;
}
#subnav li a {
    color: #000000 !important;
    display: block;
    font-weight: 600;
    margin-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

